@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Lato:wght@400;700&display=swap');

/* Font Utilities */
.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-lato {
  font-family: 'Lato', sans-serif;
}

/* Custom Component Styles */
@layer components {
  .clip_path {
    clip-path: polygon(50% 0%, 100% 1%, 100% 84%, 50% 100%, 0 85%, 0% 60%, 0 0);
  }

  .heading {
    @apply text-[30px] md:text-[35px] lg:text-[45px] xl:text-[50px] uppercase font-bold text-gray-900 md:leading-[4rem] leading-[3rem] text-center;
  }
}

/* Custom Date/Time Picker Styles */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator::after {
  filter: invert(1);
}
